*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:#EE6593;

}
.box{
    height: 600px;
    width: 600px;
    background-color: white;
    border-radius: 7px;
    
    box-shadow: 5px 20px 30px 10px rgb(120, 38, 83);
    padding-left: 25px;
}
.box1{
    display: flex;
    margin-top: -20px;
    box-shadow: 1px 10px 18px #888888;
}
.box2{
    padding-top: 10px;
}
.box3{
    padding: 10px 25px 0px 0px ;
    color: rgba(37, 33, 37, 0.642);
}
.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    margin-top: 22px;
    
    
}
.box4 button{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    color: white;
    background-color: #DD2E6A;

}