*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:rgb(248, 3, 182);

}
.box{
    height: 600px;
    width: 600px;
    background-color: white;
    border-radius: 7px;
    padding-left: 25px;
}
.box1{
    display: flex;
    /* justify-content: center; */
    margin-top: -20px;
}
.box2{
    padding-top: 10px;
    /* padding-left: 15px; */
}
.box3{
    padding: 10px 25px 0px 0px ;
    color: rgba(37, 33, 37, 0.642);
}
.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    margin-top: 22px;
    border-radius: 7px;
    color: white;
    background-color: rgb(220, 16, 169);
    
}